# AroraDB binaries
aroradb
aroradb.exe
aroradb.test

# Local data files
data/
*.data.*
*.compact

# OS files
.DS_Store
Thumbs.db

# VS Code / IDE settings
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl

# Node / Frontend / Docs
node_modules/
.next/
build/
dist/
.docusaurus/
.env
.env.local
